body{
    font-family: Roboto, Arial;
    padding-top: 70px;
    padding-left: 60px;
    margin: 0px;
    background-color: rgba(236, 233, 233, 0.584);
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}